body {
    font-family: "Assistant", sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#FFF8E7, #FDF3E2);
    /*background-color: white;*/
    letter-spacing: .07em;
    animation: transitionUp .8s;
}
h1 {
    font-size: 3.5em;
    font-weight: 700;
}
.sectionTitle {
  font-weight: 900;
}

ul {
  font-size: 1.15em;
}
.container {
  border: .075em solid #d9d2d2;
  padding: 2em;
  border-radius: 1%;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.custom-button-linkedin {
    text-decoration: none;
    font-size: 1em;
    padding: .5em 2em;
    width: 8.5%;
    background-image: linear-gradient(#4052D6, #0000FF);
    margin: 1.5em;
    align-items: center;
    text-align: center;
    border-radius: 3em;
    color: white;
    box-shadow: 0em 0.625rem 1.875rem 0rem rgba(37,37,37,0.5);
    font-family: "Assistant", sans-serif;
    display: inline-block;
}
.custom-button-linkedin:hover {
  background-image: linear-gradient(#FAFAFA, #f5f5f5);
  border: .075em solid;
  border-color: #0000FF;
  color: #0000FF;
}

.custom-button-email {
    text-decoration: none;
    font-size: 1em;
    padding: .5em 2.5em;
    width: 8.5%;
    background-image: linear-gradient(#4052D6, #0000FF);
    margin: 1.5em;
    align-items: center;
    text-align: center;
    border-radius: 3em;
    color: white;
    box-shadow: 0em 0.625rem 1.875rem 0rem rgba(37,37,37,0.5);
    font-family: "Assistant", sans-serif;
    display: inline-block;
}
.custom-button-email:hover {
  background-image: linear-gradient(#FAFAFA, #f5f5f5);
  border: .075em solid;
  border-color: #0000FF;
  color: #0000FF;
}
.heading {
  font-weight: 450;
}
ul {
  list-style-type: "▪ ";
}


@media (max-width: 768px) {
  .custom-button {
    padding: 1em 2em;
    font-size: 1em;
    width: 80%; /* Takes 80% of its container */
  }
}

@media (max-width: 480px) {
  .custom-button {
    padding: 1em 2em;
    font-size: 1em;
    width: 80%; /* Full width on mobile */
    display: block; /* Makes it take full width */
  }
}
@keyframes transitionUp {
  from {
    opacity: 0;
    transform: translateY(.625em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}





