body {
    font-family: "Assistant", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, #fffcdc, #d9a7c7);
}
h1 {
    font-size: 5vw;
}

